{% extends 'myapp/base.html' %}


{% block title %}
Экскурсии
{% endblock %}


{% block content %}
<div class="content">

    <h2>Популярные экскурсии</h2>
    
    <div class="array-of-blocks">
        <div class="excursion-block">  
            <h2 class="flex">Долина гейзеров</h2>

            <img class="excursion-img img1">

            <div class="description flex">
                Продолжительность: 5 часов<br>
                Ближайшая дата: 12.05.2021<br>
            </div>

            <div class="more flex"><a href="https://www.google.ru/webhp?client=opera&sourceid=opera">Подробнее</a></div>

            <div class="price flex">120 000 руб.</div>   
        </div>
                    
        <div class="excursion-block">
            
            <h2 class="flex">Курильское озеро</h2>
            
            <img class="excursion-img img2">

            <div class="description flex">
                Продолжительность: 5 часов<br>
                Ближайшая дата: 12.05.2021<br>
            </div>

            <div class="more flex"><a href="https://www.google.ru/webhp?client=opera&sourceid=opera">Подробнее</a></div>

            <div class="price flex">120 000 руб.</div>
        </div>

        <div class="excursion-block">
            <h2 class="flex">Вулкан Ксудач</h2>
            
            <img class="excursion-img img3">

            <div class="description flex">
                Продолжительность: 5 часов<br>
                Ближайшая дата: 12.05.2021<br>
            </div>

            <div class="more flex"><a href="https://www.google.ru/webhp?client=opera&sourceid=opera">Подробнее</a></div>

            <div class="price flex">120 000 руб.</div>
        </div>
                
        <div class="excursion-block">
            <h2 class="flex">Вулканы Камчатки</h2>
            
            <img class="excursion-img img4">

            <div class="description flex">
                Продолжительность: 5 часов<br>
                Ближайшая дата: 12.05.2021<br>
            </div>

            <div class="more flex"><a href="https://www.google.ru/webhp?client=opera&sourceid=opera">Подробнее</a></div>

            <div class="price flex">120 000 руб.</div>
        </div>
    </div>

    <div class="clock">
        <div class="clock-icon">
            <i class="far fa-clock"></i>
        </div>
        
        <div class="clock-text">
            <strong>Часы работы:</strong> Дорогие друзья, информируем вас о том, что в новогодние праздники наш офис будет работать по следующему режиму:<br> 
            30.12.20 - 03.01.21 - выходные дни.<br>
            04.01.21-08.01.21  - с 09:00 до 13:00.<br>
            09.01., 10.01.21 - выходные дни.<br>
            В выходные дни по срочным вопросам писать в WhatsApp: <a href="https://api.whatsapp.com/send?phone=79098387084" title="Написать"><i class="fab fa-whatsapp">+7 909-838-70-84</i></a>
        </div>
    </div>
</div>
{% endblock %}


<!--
    Долина гейзеров
            
    Одно из семи чудес света России и одно из самых красивых, поистине уникальных мест Дальнего Востока, единственное гейзерное поле в Евразии. 
    Находится в ущелье реки Гейзерной на территории Кроноцкого государственного биосферного заповедника. 
            
    Камчатские гейзеры - Это глубокий каньон в котором находятся многочисленные озёра, водопады, горячие и термальные источники.
            
    Не могу не упомянуть о климате данного места. Он довольно грозный и суровый. Зимы здесь характеризуются обильным снегом. 
    Температура зимой от -26 до -24, а летом достигает  от +12 до +14 градусов.

    Курильское озеро

    Одно из самых ярких и первозданных уголков России. Располагается оно в южной части полуострова. 
    Водоём и окружающая его территория входит в Южно-Камчатский заказник и охраняется законом. 
    Озеро представляет собой уникальную биосистему и сегодня является одним из крупнейших в Евразии нерестилищем лососевых рыб - нерки. 
    Погода здесь переменчивая и непредсказуемая.

    Вулкан Ксудач
            
    Вулкан представляет собой обрезанный конус, кратеры которого заполнены кислыми озерами. 
    Они имеет небольшую высоту, составляющую всего 1000 метров. Образовался вулкан во время плейстоцена и имел тогда высоту 2000 метров. 
    Вулканическая деятельность продолжалась с некоторыми остановками. В связи с этим образовались многочисленные кальдеры разного возраста и размера.
            
    Ксудач считается самым необычным вулканом на Камчатке. 
    А все потому, что на его территории находятся озера с чистой водой, произрастают ольховые леса, а из кальдеры берет свои истоки водопад.

    Вулканы Камчатки
            
    Являются его визитной карточкой региона, все они настолько разные, что придется потратить не один день на изучении хотя бы одного.
        
    Среди вулканов есть немало действующих, извержение которых вызывает восхищение и страх одновременно. Ежегодно вулканы собирают сотни тысяч туристов. 
    Камчатские вулканы не так кровожадны, как их описывают некоторые. Извержений здесь практически не бывает. А те, которые все-таки случаются, не несут никакой опасности местным жителям. 
    Если с утра вулкан имеет темный оттенок, это не значит, что скоро наступит беда, наоборот это признак хорошей погоды в течение всего дня. 
    Понятное дело, что практически каждый турист, находящийся около них пребывает в состоянии тревоги, хотя на самом деле никакой опасности они не представляют. 
    Вулканы являют собой удивительное зрелище, кажется, будто находишься в совершенно другом мире со своими законами и мироощущением.-->



